{% extends 'base.html.twig' %}
{% block title %}Búsqueda de items por catálogo{% endblock %}

{% block body %}
    {% block content %}
         <main class="principal principal-xs container">
        <div class="row alto_contacto">
            adfad
        </div>
         </main>
        
        
        
        
        
        
    {% endblock %}
{% endblock %}
         