{% extends 'base.html.twig' %}

{% block title %}Location Library{% endblock %}

{% block body %}
    <main class="principal principal-xs container">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Mantenimiento</li>
                </ol>
            </nav>
        </div>
        {{ include('includes/subnav.html.twig') }}
    </main>
{% endblock %}