{% extends 'base.html.twig' %}

{% block title %}Location Library{% endblock %}

{% block body %}

    <main class="principal_mapa container">
        <div class="col-sm-8 offset-md-2">
        IGM Instituto Gemológico de Madrid<br/>
        C/Alcalá, 4<br/>
        28000<br/>
        9022037<br/>
        Madrid<br/>
        </div>
        <iframe class="col-sm-8 col-md-8 col-lg-8 offset-md-2" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1881.834904565518!2d-3.5103973987581147!3d40.570819641610726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1558192329774!5m2!1ses!2ses" width="800" height="400" frameborder="0" style="border:0" allowfullscreen>
            
        </iframe>
    </main>


{% endblock %}