{% extends 'layouts/master.html.twig' %}

{% block title %}Busqueda de números por revista{% endblock %}

{% block body %}
{% block content %}
<div class="example-wrapper">
  <h2>
        {% if edit is defined %}
            Editar número 
        {% else %}
            Crear número {{ catalogue.title }}
        {% endif %}
        
    </h2>
        
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
{% endblock %}