<!DOCTYPE HTML>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="El señor de los libros: Libros de segunda mano" />
    <meta name="author" content="Marcos Tataje Garcia, Melania Fondevilla Soler" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}" />
       
    {% endblock%}
    
        <title>
          {% block title %} Inicio {% endblock %} - Master en PHP Symfony
        </title>
</head>
<body>
     {% include 'components/header.html.twig' %}
     {% include 'components/nav.html.twig' %}

    <section id="content">
        {% block contenido %}
            <p>Contenido por defecto</p>
        {% endblock%}
    </section>


     {% include 'components/footer.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
    
</html>
