<footer class="pie">
    <div class="row justify-content-center">
    <div class="col-sm-6 col-md-5 col-lg-4">
        <h3 class="pie-titulo">Siguenos:</h3>
        <ul>
            <li>
                <a class="redes" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="54" height="54"
                        viewBox="0 0 192 192"
                        style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none"></path>
                            <g fill="#e5e5e5">
                                <path d="M152,24h-112c-8.84,0 -16,7.16 -16,16v112c0,8.84 7.16,16 16,16h60.968v-55.688h-18.744v-21.8h18.744v-16.04c0,-18.592 11.368,-28.728 27.96,-28.728c5.592,-0.016 11.176,0.272 16.736,0.84v19.44h-11.424c-9.04,0 -10.8,4.272 -10.8,10.576v13.88h21.6l-2.808,21.8h-18.92v55.72h28.688c8.84,0 16,-7.16 16,-16v-112c0,-8.84 -7.16,-16 -16,-16z"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a class="redes" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="54" height="54"
                    viewBox="0 0 192 192"
                    style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none"></path>
                            <g fill="#e5e5e5">
                                <g id="surface1">
                                    <path d="M168,51.35156c-5.29687,2.34375 -10.99219,3.9375 -16.96875,4.64062c6.09375,-3.65625 10.78125,-9.44531 12.98438,-16.33594c-5.69531,3.375 -12.02344,5.83594 -18.75,7.17188c-5.39063,-5.74219 -13.07813,-9.35156 -21.5625,-9.35156c-16.3125,0 -29.55469,13.24219 -29.55469,29.55469c0,2.32031 0.25781,4.57031 0.77344,6.72656c-24.5625,-1.21875 -46.33594,-12.98438 -60.89063,-30.86719c-2.55469,4.35937 -4.00781,9.44531 -4.00781,14.85937c0,10.24219 5.20313,19.28906 13.14844,24.58594c-4.85156,-0.16406 -9.39844,-1.47656 -13.38281,-3.70312c0,0.14062 0,0.25781 0,0.375c0,14.32031 10.17187,26.27344 23.69531,28.96875c-2.48438,0.67969 -5.08594,1.05469 -7.78125,1.05469c-1.89844,0 -3.77344,-0.1875 -5.55469,-0.53906c3.75,11.74219 14.67188,20.27344 27.58594,20.53125c-10.10156,7.92188 -22.85156,12.63281 -36.67969,12.63281c-2.39062,0 -4.73437,-0.14062 -7.05469,-0.42187c13.07813,8.39062 28.59375,13.28906 45.28125,13.28906c54.35156,0 84.07031,-45.02344 84.07031,-84.07031c0,-1.26563 -0.04688,-2.55469 -0.09375,-3.82031c5.76562,-4.17188 10.78125,-9.375 14.74219,-15.28125z"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a class="redes" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="54" height="54"
                    viewBox="0 0 192 192"
                    style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none"></path>
                            <g id="Слой_1" fill="#e5e5e5">
                                <path d="M96,159.003c-19.074,0 -38.148,-0.585 -57.897,-1.752c-14.88,-0.879 -26.883,-12.726 -27.924,-27.561c-1.563,-22.356 -1.563,-45.027 -0.003,-67.38c1.044,-14.835 13.047,-26.685 27.927,-27.564c39.501,-2.334 76.299,-2.334 115.794,0c14.88,0.879 26.883,12.726 27.924,27.561c1.563,22.356 1.563,45.027 0.003,67.38c-1.044,14.835 -13.047,26.685 -27.927,27.564v0c-19.749,1.167 -38.823,1.752 -57.897,1.752zM153.546,151.263l0.177,2.994l-0.177,-2.994c11.877,-0.702 21.459,-10.158 22.293,-21.993c1.545,-22.074 1.545,-44.463 -0.003,-66.543c-0.828,-11.832 -10.413,-21.288 -22.29,-21.99c-39.264,-2.319 -75.825,-2.319 -115.089,0c-11.877,0.702 -21.459,10.158 -22.293,21.993c-1.545,22.074 -1.545,44.463 0.003,66.543c0.828,11.832 10.413,21.288 22.29,21.99c39.261,2.319 75.825,2.319 115.089,0z"></path>
                                <path d="M75,119.52v-47.04l40.32,23.52z"></path>
                                <path d="M72,124.743v-57.486l49.275,28.743zM78,77.703v36.591l31.368,-18.294z"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a class="redes" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="54" height="54"
                    viewBox="0 0 192 192"
                    style=" fill:#000000;">
                        <g fill="none" fill-rule="none" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none" fill-rule="nonzero"></path>
                            <g id="Слой_1" fill="#e5e5e5">
                                <path d="M66,144v-66h-18v66z" fill-rule="evenodd"></path>
                                <path d="M58.074,69c7.536,0 12.228,-4.422 12.228,-10.662c-0.141,-6.378 -4.692,-10.947 -12.084,-10.947c-7.395,0 -12.228,4.425 -12.228,10.803c0,6.24 4.689,10.806 11.943,10.806h0.141z" fill-rule="evenodd"></path>
                                <path d="M80.838,144h21.162v-36.267c0,-1.944 0.366,-3.885 0.939,-5.274c1.56,-3.885 5.631,-7.905 11.601,-7.905c7.821,0 11.463,5.964 11.463,14.703v34.743h18v-37.236c0,-19.971 -9.255,-28.494 -23.478,-28.494c-11.658,0 -15.372,5.73 -18.216,11.73h-0.309v-12h-21.162c0.285,6 -0.525,66 -0.525,66z" fill-rule="evenodd"></path>
                                <path d="M150,171h-108c-11.577,0 -21,-9.423 -21,-21v-108c0,-11.577 9.423,-21 21,-21h108c11.577,0 21,9.423 21,21v108c0,11.577 -9.423,21 -21,21zM42,27c-8.271,0 -15,6.729 -15,15v108c0,8.271 6.729,15 15,15h108c8.271,0 15,-6.729 15,-15v-108c0,-8.271 -6.729,-15 -15,-15z" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a class="redes" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="54" height="54"
                    viewBox="0 0 192 192"
                    style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none"></path>
                            <g id="Слой_1" fill="#e5e5e5">
                                <path d="M132,171h-72c-21.504,0 -39,-17.496 -39,-39v-72c0,-21.504 17.496,-39 39,-39h72c21.504,0 39,17.496 39,39v72c0,21.504 -17.496,39 -39,39zM60,27c-18.195,0 -33,14.805 -33,33v72c0,18.195 14.805,33 33,33h72c18.195,0 33,-14.805 33,-33v-72c0,-18.195 -14.805,-33 -33,-33z"></path>
                                <path d="M96,135c-21.504,0 -39,-17.496 -39,-39c0,-21.504 17.496,-39 39,-39c21.504,0 39,17.496 39,39c0,21.504 -17.496,39 -39,39zM96,69c-14.886,0 -27,12.114 -27,27c0,14.889 12.114,27 27,27c14.889,0 27,-12.111 27,-27c0,-14.886 -12.111,-27 -27,-27z"></path>
                                <circle cx="46" cy="18" transform="scale(3,3)" r="3"></circle>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-2 offset-md-2">
        <img id="change" src="{{ asset('assets/images/core-footer-logo.svg') }}" alt="Change from the core">
    </div>
    </div>
    <section class="condiciones row justify-content-center">
        Información Legal | Condiciones Generales | © Todos los derechos reservados
    </section>
</footer>
