<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand col-sm-4 d-lg-none" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto container">
        {% if opcion == 1 %}
            <li class="nav-item active col-md-3">
                <a class="nav-link text-center" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
        {% else %}
            <li class="nav-item col-md-3">
                <a class="nav-link text-center" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
        {% endif %}
        {% if opcion == 2 %}
            <li class="nav-item active col-md-3">
              <a class="nav-link text-center" href="/map">Localización</a>
            </li>
        {% else %}
            <li class="nav-item col-md-3">
                <a class="nav-link text-center" href="/map">Localización</a>
            </li>
        {% endif %}
        {% if app.user %}
            {% if opcion == 3 %}
                <li class="nav-item active col-md-3">
                  <a class="nav-link text-center" href="/mantenimiento">Operaciones</a>
                </li>
            {% else %}
                <li class="nav-item col-md-3">
                    <a class="nav-link text-center" href="/mantenimiento">Operaciones</a>
                </li>
            {% endif %}
        {% else %}
            {% if opcion == 3 %}
                <li class="nav-item active col-md-3">
                  <a class="nav-link text-center" href="/mantenimiento">Consultas</a>
                </li>
            {% else %}
                <li class="nav-item col-md-3">
                    <a class="nav-link text-center" href="/mantenimiento">Consultas</a>
                </li>
            {% endif %}
        {% endif %}
        {% if opcion == 4 %}
            <li class="nav-item active col-md-3">
              <a class="nav-link text-center" href="#">Contacto</a>
            </li>
        {% else %}
            <li class="nav-item col-md-3">
                <a class="nav-link text-center" href="#">Contacto</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
    </div>