/***************** Header *****************/
header {
    background-image: url(../images/header.jpg);
    height: 11em;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}
.registro {
    margin-left: 20px;
    height: 3em;
    width: 7em;
    display: inline-block;
}

#usuario {
    margin-top: 40px;
}
.log-reg {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
.cerrar {
    margin-top: 21px;
}		

#logo_mneme {
    color: #3086aa;
    font-weight:bold;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 4em;
    margin-top: 12px;
}

#logo_sist {
    font-family:Consolas; 
    font-style: normal;
    color: #dbc838
}

#barra_busqueda {
    padding-top: 3.8em;
}

.busqueda {
    position: absolute;
    background-color: gray;
    border: 1px solid black;
    width: 195px;
    padding-left: 12px;
    z-index: 1;
}

#form_search {
    width: auto;
    padding-top: 2px;
    flex-grow: 1;
}

#search {
    font-family: Helvetica;
    font-size: .9em;
    width: 350px;
    padding-top: 13px;
    color: #11497a;
    padding-right: 32px;
    padding-bottom: 9px;
    border: none;
    border-bottom: 1px solid #03657c;
    border-radius: 0;
    margin-left: 30px;
    background-color: transparent;
}

::placeholder { color: #fff; }

.boton_search {
    color: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 0;
    margin-right: 90px;
    border: none;
    background-color: transparent;
}

#logo h3 {
    margin-top: 20px;
    font-size: 13px;
    color:white;
}
#logo h3 span {
    font-style: oblique;
}
/****************** Nav ******************/

.nav_perso {
    background: #03657c;
    border-color: transparent;
}

/****************** Body ******************/

body {
    background: white;
}

.principal {
    height: 60em;
}

 .example-wrapper { 
     margin: 1em auto; 
     max-width: 800px; 
     width: 95%; 
     font: 18px/1.5 sans-serif; 
 }
 
 .example-wrapper code { 
     background: #F5F5F5; 
     padding: 2px 6px; 
 }
 
 .clearfix {
     float:none;
     clear:both;
 }
 
 .titulo {
    font-size: 1.8em;
    font-weight:bold;
    margin-bottom: 1em;
 }		 
 
 #header {
     margin: 1em auto; 
     max-width: 800px; 
     width: 95%;
     font: 18px/1.5 sans-serif; 
 }
 
 #menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 50px;
    background: #eee;
    line-height: 50px;
 }
 
 #menu li {
     display: block;
     float: left;
     padding-left: 15px;
     padding-right: 15px;
     border-right: 1px solid #ccc;
     cursor: pointer;
    transition: all 300ms;
 }

#menu li:hover {
    background: #444;
}

#menu li:hover a{
    color: white;
}
 
#menu a {
    display: block;
    text-decoration: none;
    /*color: #444;*/
    transition: all 300ms;
 }
 
 label {
     display:block;
     width: 150px;
     margin-top: 15px;
     margin-bottom: 5px;
}
 
#menu li.rigth {
    float: right;
    border-right: 0px;
    border-left: 1px solid #ccc;
}

input[type="text"],
input[type="password"],
input[type="email"],
textArea,
select{
      width: 280px;
      padding: 6px;
}

button,
input [type="submit"]{
    padding:8px;
    margin-top: 15px;
    background: #00AA33;
    color: white;
    border: 1px solid #047425;
    cursor: pointer;
    transition: all 300ms;
}

button:hover,
input[type="submit"]:hover{
    background: #047425;
}

table {
    width: 100%;
}

table th,
table td{
    background: #f6f6f6;
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

table td {
    background: #e9ffea;
}

.buttons a{
    text-decoration: none;
    border: 1px solid #444;
    padding: 10px;
    color: white;
    background: #00AA33;
}

.buttons{
    width: 35%;
}

.buttons .btn-edit {
    background: orange;
}

.buttons .btn-delete {
    background: red;
}

.paginacion {
    /*margin-left: 40%;*/
}
	
.alert {
    display: block;
    color:#9d1212;
    float:left;
    margin-left: 200px;
    font-weight:bold;
}

/**************** PRODUCTO ****************/

@media (max-width: 767px) {
    .principal-xs {
        height: 65em;
    }
    .venta-xs {
        border: 1px solid gray;
    }
    .comprar-xs {
        margin-top: 2em;
    }
}

@media (min-width: 767px) {
    .venta-sm {
        border: 1px solid gray;
        margin-top: 6.9em;
    }
    .desc-sm {
        margin: 2em 0em 2.5em 0em;
    }
}

@media (min-width: 992px) {
    .desc-md {
        margin: 2em 0em 4.6em 0em;
    }
    .comprar-md {
        margin-top: 1em;
        height: 3em;
        width: 10em;
        color: white;
        background-color: black;
    }
    .list_img-md {
        height: 70px;
        width: 80px;
        margin-top: 13px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .venta-lg {
        border: 1px solid gray;
    }
    .desc {
        margin: 2em 0em 6em 0em;
    }
    .comprar {
        margin-top: 5.2em;
        height: 3em;
        width: 10em;
        color: white;
        background-color: black;
    }
    .list_img {
        height: 90px;
        width: 100px;
        margin: 5px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .margen-sm {
        margin-top: 3em;
    }
}

.estrellas {
    height: 20px;
    width: 100px;
}

.lista {
    display: list-item;
}

.img_principal {
    height: 300px;
    padding: 10px;
}

.producto {
    border: 1px solid gray;
    padding: 0.8em;
    height: 420px;
}

.bloque {
    display: inline-block;
}

.separar {
    margin-right: 0.5em;
}

.opinion {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    text-align: center;
}

.precio {
    font-size: 3em;
    font-family: descuento;
    margin: 1em 0em 0.6em 0em
}

.color {
    color: green;
}

.tamanio {
    font-size: 1.3em;
    margin: 0.5em 0em;
}

.rojo {
    color: red;
}

#contenido {
    border: 4px solid #000;
    border-radius: 10px;
    margin-bottom: 7em;
    box-shadow: 1px 1px 5px rgba(50, 50, 50 0.5);
}

.finan {
    font-size: 12px;
    margin-bottom: 2em;
}

.xs-info {
    padding-top: 1em;
    margin-top: 1.1em;
    border: 1px solid gray;
}

#list-prductos {
    border: 1px solid gray;
    height: 230px;
    padding: 0.7em;
}

.subtituto {
    font-size: 1.3em;
    margin: 0.6em 0em 0.3em 0em;
    margin-left: 3.8em;
}


.desc_articulo {
    font-size: 0.8em;
    align-items: center;
}

.imagen_art {
    width: 180px;
    height: 160px;
}

.precio_art {
    display: inline-block;
    font-size: 2em;
}

.margen {
    margin-bottom: 1.6em;
}

.margen-bottom {
    margin-bottom: 2em;
}

.tachado {
    display: inline-block;
    text-decoration:line-through;
    size: 1.5em;
}

.descue {
    display: inline-block;
    color: red;
    font-size: 1.8em;
}

/***************** PERFIL *****************/
.contenido-profile {
    height: 40em;
    margin-top: 2em;
}
.contenido-edit-profile {
    margin-bottom: 1em;
}
#nombre-profile {
    font-size: 1.8em;
    font-weight:bold;
}
/***************** SUBMENU *****************/
.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}
.alto {
    height: 400px;
}
/***************** MAP *****************/
.map_enlinea{
    display: inline-block;
    margin: 10px;
}
.principal_mapa {
    height: 40em;
    font-family: sans-serif, serif;
    padding-top: 15px;
}
/***************** LOGIN *****************/
.login {
    display: table;
    width: 100%;
    height: 100%;
}
.login-etiqueta {
    float: left;
    margin: 10px 0px 0px 30px;
}
.login-campo {
    margin-bottom: 10px;
}
#section1 {
    background-image: url(../images/header.jpg);
    background-position: 0px -50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
}
#section2 {
    background-color: #03657c;
    padding-top: .8%;
    color: #e5e5e5;
    height: 50%;
}
#section3 {
    background-color: #124a57;
    height: 20%;
}
#login-titulo {
    font-family: "Georgia","Times New Roman";
    font-size: 20px;
    margin: 1em 0em 2em 0em;
    color: #e5e5e5;
}
.boton_login {
    margin: 30px 10px 0px 0px;
    padding: 10px 0px 0px 50px;
    float:right;
    color: #fff;
    border: 4px solid #dbc838;
    background-color: #03657c;
    width: 160px;
    height: 50px;
    text-decoration: none;
}
.boton_login:hover {
    text-decoration: none;
    color: #004254;
    background: #dbc838;
}

/***************** FOOTER *****************/

/*
@media (max-width: 767px) {
    .lista-sm li {
        width: 25%;
        text-align: center;
        line-height: 1.5em;
        float: left;
        display: inline;
    }
}*/

.pie {
    font-family: sans-serif, serif, cursive;
    height: 15em;
    background: #3086aa;
    color: #e5e5e5;
    padding-top: 3em;
    width: 100%;
}

.pie aside {
    margin-left: 140px;
}

.redes {
    height: 60px;
    width: 60px;
    float: left;
    background-size: contain;
    margin-right: 6px;
}

#change {
    width: 140px;
    height: 60px;
    position: absolute;
    margin-top: 24px;
}

.pie-titulo {
    font-size: 1.5em;
    font-family: descuento;
}

#sublista li {
    line-height: 1.5em;
    float: left;
    display: inline;
    width: 50%;
}

.condiciones {
    margin-top: 55px;
}


.image_ico {
    height: 62px;
     width: 62px;
}




