{% block header %}
    <header class="container">
     
    <div class="col-md-7">
     
        <img class="col-sm-2" id="logo_portada" src="{{ asset('assets/images/brujo.png') }}" alt="Logo" />
        <h1 id="logo_text">El señor de los libros</h1>
       
     <!--   <section id="search" class="hidden-xs col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-1">

        </section>-->
    </div>
    </header>
    
{% endblock %}
