{% block header %}
    <header class="container">
     
    <div class="col-md-7">
     
         <h1 id="logo_text">mneme<span style="font-family:Consolas; font-style: normal">sist</span></h1>
       
     <!--   <section id="search" class="hidden-xs col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-1">

        </section>-->
    </div>
    </header>
    
{% endblock %}
