{% extends 'base.html.twig' %}

{% block title %}Controlador authority{% endblock %}

{% block body %}

 <main class="principal principal-xs container">
        <div class="row alto">
        {{ include('includes/subnav.html.twig') }}
        
       <div class="col-8 col-8">

 
 {% block content %}
     {% if items is defined %}
         <ul> 
         {% for item in items %}
             {% endfor %}
         </ul>
     {% else %}
   <form action="" method="POST">
        
        <label for="search">Buscar: </label>
        <input type="text" id="search" name="search" value ="" />
        
        <input type="submit" value="Enviar" name = "enviar"/>
    </form>
   {% endif %}
 </div>
 </div>
 </main>
{% endblock %}
{% endblock %}