{% extends 'base.html.twig' %}

{% block title %}Controlador authority{% endblock %}

{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/nemesist/src/Controller/AuthorityController.php'|file_link(0) }}">src/Controller/AuthorityController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/nemesist/templates/authority/index.html.twig'|file_link(0) }}">templates/authority/index.html.twig</a></code></li>
    </ul>
</div>  
 {% block content %}
     {% if items is defined %}
         <ul> 
         {% for item in items %}
             {% endfor %}
         </ul>
     {% else %}
   <form action="" method="POST">
        
        <label for="search">Buscar: </label>
        <input type="text" id="search" name="search" value ="" />
        
        <input type="submit" value="Enviar" name = "enviar"/>
    </form>
   {% endif %}
{% endblock %}
{% endblock %}