{% extends 'layouts/master.html.twig' %}

{% block titulo %}
    Catalogo
  {% endblock %}

  
  {% block cabecera %}
      <h1> {{ welcome }} </h1>
      {% endblock %}
      
{% block contenido %}

{% endblock %}