{% extends 'layouts/master.html.twig' %}

{% block titulo %}
    Catalogo
{% endblock %}


{% block cabecera %}
  
{% endblock %}

{% block contenido %}

    {% for message in app.session.flashbag().get('message') %}
        {{ message }}
        
    {% endfor%}
   
    <h1>Nuevo catálogo</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}
