{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is defined %}
        Editar revista
    {% else %}
        Registrar revista
    {% endif %}
{% endblock %}

{% block body %}

    <main class="principal principal-xs container">
        <div class="row alto">
            {{ include('includes/subnav.html.twig') }}
            <div class="col-sm-5  offset-md-1">
                <h2>
                    {% if edit is defined %}
                        <p class="titutlo_registro text-center">Editar Revista</p>
                    {% else %}
                        <p class="titutlo_registro text-center">Registro de Revista</p>
                    {% endif %}
                </h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}